<!DOCTYPE html>
<html>
<head>
  <title>AppNode</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .main.container{
      margin-top: 7em;
    }
  </style>
</head>

<body>

<div class="ui fixed inverted menu">
  <a href="/" class="header item">Accueil</a><h2>NodeAppJS Project _-| StreamTchat</h2>
</div>
<div class="ui main container">
  <% if (locals.flash && locals.flash.error) { %>
  <div class="ui negative message"
    <%= flash.error %>
  </div>
  <% } %>
  <% if (locals.flash && locals.flash.success) { %>
  <div class="ui positive message">
    <%= flash.success %>
  </div>
  <% } %>
