<% include header %>
<script type="text/javascript" src="/stream.js"></script>

<div id="view_prin">


  <div class="stream"><div class="videostream">
    <h3>Team M2R en Direct</h3>
    <div id="ytplayer"></div>
  </div></div>



  <div class="tchat">
    <h3 class="ui dividing header">Message Instantannée</h3>
    <section id="zone_chat">
      <ul id="messages"></ul>

    </section>


    <form action="" id="formulaire_chat" form="formulaire_chat">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>










    <script type="text/javascript">



        var frm = $('#formulaire_chat');
        frm.submit(function (ev) {
            ev.preventDefault();
            $.ajax({

                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {


                }
            });

            ev.preventDefault();
        });
    </script>






  </div>

  <div class="commentt">
    <div class="box_comment">
    <form action="/" method="post" class="ui form">
      <div class="field">
        <h3><label for="message">Commentaires</label></h3>
       <textarea rows="1" cols="50" name="message" id="message"></textarea>
      </div>
      <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Envoyer
      </button>
    </form>

    <div class="ui comments">
      <h3 class="ui dividing header">Intéragir</h3>
        <% for (message of messages) { %>
      <div class="comment">
        <a class="avatar" href="/message/<%= message.id %>">
          <img src="https://randomuser.me/api/portraits/lego/6.jpg" width="35">
        </a>
        <div class="content">
          <div class="metadata">
            <div class="date">
                <%= message.created_at.fromNow() %>
            </div>
          </div>
          <div class="text"><%= message.content %></div>
        </div><hr>
      </div>
        <% } %>

    </div>
  </div>
  </div>

<% include footer %>