body {
    width: 100%;
    height: auto;
    font-family: "Modern No. 20";
}

#view_prin {
    background: rgb(167,207,223);
    background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(0,29,61,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(0,29,61,1) 100%);
    background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(0,29,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#001d3d',GradientType=0 );
    width: 100%;
    height: auto;
    position: absolute;
    left:0;
    top:5%;
    z-index: 1;
    padding: 19px;

}

.menu h2 {
    position: fixed;
    top:5px;
    margin: 0;
    left:10%;
    color: white;
}

.navhead {
    box-shadow: 0px 0px 10px rgba(20, 20, 0, 0.8);

}

footer {
    margin-top: 20px;
    position: relative;
    bottom: auto;
    background-color: darkslategrey;
    color: cornsilk;
    width: 100%;
}

.tchat, .stream, .commentt {
    position: relative;
    float: right;
    right: 7%;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.35);
    background-color: rgba(210, 210, 210, 0.9);
    padding: 15px;
    width: 37%;
    height:auto;
    border-radius: 5px;
    z-index: 5;
}

.tchat {
    width: 30%;
    height: 475px;
    padding: 20px;
}

.commentt textarea {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    position: relative;

}

.stream {
    left: 7%;
    height: 475px;
    width: 55%;
    float:left;
}

.commentt {
    margin-top: 50px;
    bottom: 30px;
    width: 86%;

}

.videostream {
    position: relative;
    width:100%;
    height: 100%;
    border: 1px dashed black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(50, 50, 50, 0.4);
    padding: 20px;
    color: aliceblue;
}

.ui .comments .comment .text {
    color: dimgrey;
    text-shadow: 0px 0px 6px rgba(50, 50, 255, 0.35);
}

.ui .comments {
    width: 100%;
    height:68%;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: whitesmoke;
    padding:5px;
    max-width: inherit;
    overflow-y:scroll;
}

.commentt .ui.comments {
    max-width: inherit;
    max-height: 400px;
    overflow-y:scroll;
}

.comment hr {
    color: rgba(100, 100, 200, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment {
    margin-left: 50px;
}

.tchat .ui.dividing.header {
    color: dimgrey;
    margin: 0;
}

.tchatform {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-top: 5px;
}

.tchatform h3 {
    margin: 0;
}

.box_comment {
    width:100%;
   /** border: 1px dashed white; */
    border-radius: 5px;
}

.box_comment .ui.comments {
    position: relative;
    border: none;
    margin-right: 0;
}

#message {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}


::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}

.videostream h3 {
    margin: 0;
    margin-top: -15px;
    text-transform: uppercase;
    font-size: 12px;
}

#ytplayer {
    border-radius: 4px;
}

#zone_chat strong {
    color: white;
    background-color: black;
    padding: 2px;
}

#zone_chat {
    width: 100%;
    height: 85%;
    background-color: ghostwhite;
}

section#chat form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
section#chat form input {
    border: 0;
    padding: 5px 10px;
    width: 90%;
    height: 100%;
    margin-right: .5%;
    font-size: 20px;
}
section#chat form button {
    width: 9%;
    height: 100%;
    background: #e67e22;
    float: right;
    border: none;
    margin-right: 0.5%;
    font-size: 17px;
    color: white;
}
section#chat #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
section#chat #messages li {
    padding: 5px 10px;
}
section#chat #messages li:nth-child(odd) {
    background: #eee;
}